@font-face {
    font-family: jbmono;
    src: url(/resources/assets/font/jetbrainsmono.ttf);
}

:root{
    --bgc: #202020;
    --fgc: #FFFFFF;
    --acc: #40E0D0;
    font-family: jbmono;
    font-size: 16px;
    fill: var(--fgc);
}

@media (prefers-color-scheme: light) {
    :root{
        --bgc: #FFFFFF;
        --fgc: #202020;
    }
}

* {
    background: var(--bgc);
    color: var(--fgc);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
}

main {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > img {
    width: 6em;
    padding: 0.5em;
    border-radius: 25%;
}

section {
    padding: 0.5em;
}

.contacts a:hover {
    color: var(--acc);
    fill: var(--acc);
    text-decoration: none;
}

.entries {
    text-align: center;
    margin-top: 0.5em;
    cursor: default;
}

.entries > * {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    position: relative;
    margin: 0.0625em;
}

.entries > * > * {
    width: 100%;
    height: 100%;
    vertical-align: center;
}

.entries > img::after {
    content: attr(hint);
    background-color: var(--bgc);
    color: var(--fgc);
}

*[hint]::after {
    display: none;
    content: attr(hint);
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 0.25em;
    padding: 0.125em;
    border-radius: 0.125em;
    transform: translateX(-50%);
    background-color: var(--fgc);
    color: var(--bgc);
    z-index: 1;
    text-wrap: nowrap;
}

*[hint]:hover::after,
*[hint]:focus::after {
    display: block;
}

@keyframes interjection {
    from {
        content: "Linux";
        width: auto;
        font-size: initial;
        color: default;
    }
    to {
        content: "Linux";
        width: auto;
        font-size: initial;
        color: var(--acc);
    }
}

.entries > div[long]:hover::after {
    animation: interjection 3s linear;
    width: 30em;
    font-size: 0.5em;
    text-wrap: wrap;
}

span {
    background: var(--fgc);
    color: var(--bgc);
    border-radius: 0.125em;
}

.bordered > * {
    height: auto;
}

.bordered > * > svg {
    border: 1px solid var(--fgc);
    background: var(--fgc);
}